<br>
<div class="jumbotron">
  <h6 class="text-center">CAMPEONATO DE FILMES</h6>
  <h2 class="text-center"><strong>Fase de Seleção</strong></h2>
  <h6 class="text-center">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o <br> botão Gerar Meu Campeonato para prosseguir.</h6>
</div>

<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>Selecionados:<br /> <span id="spanSelecionados">{{qtdSelecionada}}</span> de 8 filmes
      </p>
    </div>

    <div class="col-sm-6 ">
      <a class="btn btn-primary btn-lg pull-right" id="btnGerar" (click)="gerarCampeonato()" >GERAR MEU CAMPEONATO</a>
    </div>

  </div>
</section>

<p *ngIf="!filmes"><em>Carregando...</em></p>

<section class="content">
  <div class="row">
    <div *ngFor="let filme of filmes" class="col-sm-3 col-xs-12">
      <app-filme [filme]="filme" (qtde)="recebeQtde($event)" ></app-filme>
    </div>
  </div>
</section>

